.weather-fetcher {
	.instruction {
		margin-top: 0;
	}
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	color: #fff;
	background-color: #d26c22;
	text-align: center;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 5px;
}